# Backend Railway
NEXT_PUBLIC_API_URL=https://banckend-production-14a1.up.railway.app

# Deriv OAuth2
NEXT_PUBLIC_DERIV_CLIENT_ID=3356rGdzrsnQaEKsg8MMA
NEXT_PUBLIC_DERIV_APP_ID=3356rGdzrsnQaEKsg8MMA
NEXT_PUBLIC_DERIV_REDIRECT_URI=https://SEU_DOMINIO_VERCEL.vercel.app/callback
